##### 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

* this is an expression
&#39;hello&#39; this can be considered as a string so this should be Value

-87.8 this is an integer so this is value
- this is operator so this is expression
/ this is also an operator so this is an expression
+ this is an operator so this is an expression
6 this is an integer so this is a value

### 2-What is the difference between string and variable?

String-In python string are the values which are putted under 'string' or "string" or docstring as """Docstring"""
variable-thies can be understand as a container which can carry the values like integer ,string etc this are not put under ' ',or " "or""" """

### 3. Describe three different data types.

there are many different datatypes are present inside python programming language ,like-integer(int) ,floating point(float),string etc
Integer->there is a reserved keyword for integer in python name as int used for numbers like 1,2,3,4,5,6,7,8,9,0 etc
Floating point->there is reserved keyword used for this is as float it presents number like->1.2,4.0,5.4 etc
string-> there is keyword reserved for this also in python name as str it presents as 'stirng',"string","""docstring""" etc

### 4. What is an expression made up of? What do all expressions do?

any operator or combination of operator and operand can be referd as an expression.
generally expression do some oprations acording to operator and operand present in there

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expression can expressed as a combination operator,operand and variables which can be used for mathematical work but
statement is a fixed sentence like print the anything to understand the code description or comment in python can be seen as a statment

### 6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

In [3]:
bacon = 22
bacon + 1

23

In [4]:
bacon

22

it contain same value 22

### 7. What should the values of the following two terms be?

'spam'+'spamspam'

'spam'*3

In [1]:
'spam'+'spamspam'

'spamspamspam'

In [2]:
'spam'*3

'spamspamspam'

the values of thies two terms are going to be same as 'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

eggs is qulifies all the condition be an identifier but 100 is not fullfil all coditions it is starting with a numerical value
but an identifier can not be start with number that is why this is a invalid variable name

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

let a value a=6

In [9]:
a=6.0
a=int(a)
type(a)

int

In [10]:
a=float(a)
type(a)

float

In [11]:
a=str(a)
type(a)

str

thies are three required funtions,int(),float(),str()

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 +'burritos.'

In [12]:
'I have eaten' + 99 +'burritos.'

TypeError: can only concatenate str (not "int") to str

99 is a integer that is why it cause an error

In [14]:
'I have eaten' + str(99) +'burritos.'

'I have eaten99burritos.'